<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>

	<body>

		<div class="title">
			<div class="name">
				<h0>Yiming Tang（汤一鸣）</h0>
				<p>Postdoctoral Fellow at Concordia University</p>
			</div>
		</div>
		
        
        
		<div class="navbar">
        		<div class="nav">
        
			<nav>
    			<ul>
        			<li><a href="#about">About</a></li>
	        		<li><a href="#publications">Publications</a></li>
				<li><a href="#work">Work</a></li>
        			<li><a href="#services">Services</a></li>
				<li><a href="#awards">Awards</a></li>
				<li><a href="#education">Education</a></li>
        			<li><a href="#contact">Contact</a></li>
    			</ul>
			</nav>
        
        		</div>
        	</div>
        
        
        
        	<div class="cont">
        
			<div class="container">
            		{{ content }}
			</div>
			
			<footer>
    			<p> Copyright © Yiming Tang</p>
			</footer>
			
		</div>
	</body>
</html>
