<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>

	<body>

		<div class="title">
			<img src="{{site.baseurl}}/assets/img/me.jpg" width="120" style="float: right; position: relative; margin-right: 20%; margin-top: -2.3em;">
			<div class="name">
				<h0>Yiming Tang</h0>
                		<ch0>（汤一鸣）</ch0>
				<p>Incoming Assistant Professor at Rochester Institute of Technology | Postdoctoral Fellow at Concordia University</p>
			</div>
		</div>
		
        
        
		<div class="navbar">
        		<div class="nav">
        
			<nav>
    			<ul>
        			<li><a class="navlink" href="#about">About</a></li>
	        		<li><a class="navlink" href="#publications">Publications</a></li>
				<li><a class="navlink" href="#work">Work</a></li>
        			<li><a class="navlink" href="#services">Services</a></li>
				<li><a class="navlink" href="#awards">Awards</a></li>
				<li><a class="navlink" href="#education">Education</a></li>
        			<li><a class="navlink" href="#contact">Contact</a></li>
    			</ul>
			</nav>
        
        		</div>
        	</div>
        
        
        
        	<div class="cont">
        
			<div class="container">
            		{{ content }}
			</div>
			
			<footer>
    			<p> Copyright © Yiming Tang</p>
			</footer>
			
		</div>
	</body>
</html>
